<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/01/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/01/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/01/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/01/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/01/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>3</string>
		<key>name</key>
		<string>行政事业类</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/02/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/02/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/02/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/02/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>3</string>
		<key>name</key>
		<string>企业类</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/03/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/03/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/03/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>4</string>
		<key>name</key>
		<string>企业类</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/04/webpage/start.mp4</string>
				<key>name</key>
				<string>我哦我</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/04/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/04/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>3</string>
		<key>name</key>
		<string>行政事业类</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/04/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/04/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>2</string>
		<key>name</key>
		<string>企业类</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/05/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/05/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>5</string>
		<key>name</key>
		<string>行政事业类</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/05/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>2</string>
		<key>name</key>
		<string>企业类</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>http://kejian.kj2100.com/fudao/StudentCenter/jijiao/xysfdxzsydwysgldtzjd/06/webpage/start.mp4</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>3</string>
		<key>name</key>
		<string>行政事业类</string>
	</dict>
</array>
</plist>
